<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerConfiguration</key>
	<dict>
		<key>enabledLog</key>
		<false/>
	</dict>
	<key>RequestConfiguration</key>
	<dict>
		<key>requestTypeSupported</key>
		<array>
			<string>application/json</string>
			<string>multipart/form-data</string>
			<string>application/x-www-form-urlencoded</string>
			<string>application/xml</string>
		</array>
		<key>defaultTimeOutInSeconds</key>
		<integer>60</integer>
		<key>defaultHeadersConfiguration</key>
		<array>
			<dict>
				<key>name</key>
				<string>custom_header</string>
				<key>value</key>
				<string>pre_prod</string>
			</dict>
		</array>
	</dict>
	<key>ResponseConfiguration</key>
	<dict>
		<key>ErrorCodeConfiguration</key>
		<array>
			<dict>
				<key>errorCode</key>
				<string>N_10004</string>
				<key>errorDescriptionEn</key>
				<string>Internet</string>
				<key>errorDescriptionAr</key>
				<string>200 AR</string>
			</dict>
		</array>
	</dict>
	<key>WebServicesConfiguration</key>
	<array>
		<dict>
			<key>inputModel</key>
			<string>BaseMainRequest</string>
			<key>outputModel</key>
			<string>CountryListResponse</string>
			<key>serviceUri</key>
			<string>home/get-country-list</string>
			<key>httpMethod</key>
			<string>post</string>
			<key>requestType</key>
			<string>application/json</string>
			<key>timeOutInSeconds</key>
			<integer>120</integer>
			<key>enableCookie</key>
			<false/>
			<key>enableCache</key>
			<false/>
			<key>enableSSL</key>
			<false/>
			<key>CustomHeaders</key>
			<array>
				<dict>
					<key>name</key>
					<string>name</string>
					<key>value</key>
					<string>value</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
